{{define "add-doc"}}
{{template "page-layout" .}}
{{end}}

{{define "page"}}

<form hx-post="/add-doc"
      hx-swap="outerHTML"
      hx-target="#result"
      enctype="multipart/form-data">
    <fieldset>
        <legend>Add new document</legend>
        <div id="result"></div>
        <div class="field">
            <label for="lang_id">
                Language pair:
                <span class="desc">If this list is empty, you need to add at least one language pair first</span>
            </label>
            <select name="lang_id"
                    required>
                <option value>Select one...</option>
                {{range .}}
                <option value="{{.Id}}">{{.Name}}</option>
                {{end}}
            </select>
        </div>
        <div class="field">
            <label for="title"
                   required>Title:</label>
            <textarea name="title"
                      style="resize: vertical"></textarea>
        </div>
        <div class="field">
            <label for="author">Author:</label>
            <input type="text"
                   name="author">
        </div>
        <div class="field">
            <label for="tags">Tags:</label>
            <input type="text"
                   style="font-family: monospace;"
                   name="tags">
        </div>
        <div class="field">
            <label for="notes">Notes:</label>
            <textarea name="notes"></textarea>
        </div>
        <div class="field"
             style="display: inline;">
            <label for="doc_body"
                   style="display: block;">
                Document body:
                <span class="desc">Use this field to simply paste text from your clipboard</span>
            </label>
            <textarea oninput="this.style.height=this.scrollHeight+'px'"
                      name="doc_body"
                      rows="4"
                      style="display: block; resize: vertical; width: 100%; margin: 10px 0 20px;">
            </textarea>
        </div>
        <strong>OR</strong>
        <div class="field">
            <label for="doc_file">
                Document text file:
                <span class="desc">Use this field to upload plain text document no more than 20MB in size</span>
            </label>
            <input type="file"
                   accept=".txt"
                   name="doc_file">
        </div>
        <button type="submit">Save</button>
    </fieldset>
</form>

{{end}}
