{{define "base"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Liberrina - Lean a Language by Reading in it</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"
            integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
</head>

<style>
    body {
        font-family: 'Trebuchet MS', 'Helvetica', 'Optima', 'Gill Sans', sans-serif;
    }
    * {
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
    }
    button {
        margin: 10px 0 0 0;
        padding: 10px;
        width: 100%;
        font-weight: bold;
        background-color: lightgrey;
    }
    button:hover {
        color: #e9e9ed;
        background-color: grey;
        cursor: pointer;
    }
</style>

<body>
    {{template "page" .}}
</body>

</html>
{{end}}
