{{define "doc"}}
{{template "page-layout" .}}
{{end}}

{{define "page"}}

<style>
    #popup {
        position: absolute;
        display: none;
        background: var(--bg-color);
        padding: 10px;
        margin: 0;
        box-shadow: 2px 2px var(--txt-color);
        border: 1px solid var(--out-color);
        border-radius: 5px;
        filter: brightness(125%);
        min-width: 300px;
        max-width: 500px;
    }

    #picker .item,
    #picker button {
        padding: 8px 16px;
        border: 1px solid var(--out-color);
        display: inline-block;
        border-radius: 5px;
        margin: 3px auto;
    }

    article {
        max-width: 800px;
        line-height: 2;
        font-size: 1.2rem;
        cursor: default;
    }

    article span[data-level="1"] {
        background-color: pink;
        color: black;
    }

    article span[data-level="2"] {
        background-color: lightblue;
        color: black;
    }

    article span[data-level="3"] {
        background-color: lightgreen;
        color: black;
    }

    nav {
        display: flex;
        justify-content: end;
    }

    input[type=number] {
        width: 4rem;
    }

    .control {
        border: 1px solid var(--out-color);
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 15px;
    }
</style>

<main>
    <dialog id="popup">
        <div id="term"></div>
        <hr style='border-top: 1px solid var(--out-color)'>
        <div id="translation" contenteditable></div>
        <hr style='border-top: 1px solid var(--out-color)'>
        <div id='picker' style="display: flex;">
            <div style="justify-content: start;">
                <div class='item' style='background-color: red'>
                    <input type='radio' name='level' title='New' value=1>
                </div>
                <div class='item' style='background-color: blue'>
                    <input type='radio' name='level' title='Familiar' value=2>
                </div>
                <div class='item' style='background-color: green'>
                    <input type='radio' name='level' title='Learned' value=3>
                </div>
                <div class='item'>
                    <input type='radio' name='level' title='Known' value=4>
                </div>
            </div>
            <div style="flex-grow: 1;"></div>
            <div id="indicator" style="margin: auto"></div>
            <div style="flex-grow: 1;"></div>
            <button type="button" style="display: flex; 
                    justify-content: center; max-width: 2rem;" title="Save translation"
                onmousedown="saveTranslation()">+</button>
        </div>
    </dialog>

    <nav>
        <div class="control">
            <label for="text_font_size">Font size:</label>
            <input name="text_font_size" type="number" min="9" max="69"
                oninput="handleFontSizeChange(this.valueAsNumber)">
        </div>
    </nav>

    <article>
        <center>
            {{ if eq .Author ""}}
            <h1>{{ .Title }}</h1>
            {{ else }}
            <h1>{{ .Author }}: {{ .Title }}</h1>
            {{ end }}
        </center>
        <pre style="white-space: break-spaces;">
            {{- range $_, $chunk := .Chunks -}}
            <span data-level="{{ $chunk.TermLevelID }}" data-translation="{{ $chunk.Translation }}">
                {{- $chunk.Value -}}
            </span>
            {{- $chunk.Suffix -}}
            {{- end -}}
        </pre>
    </article>
</main>

<script>
    var docID = Number(location.pathname.split('/').findLast(x => x != ""));
    var popupId = null;
    var popup = document.getElementById("popup");
    var textSizeInput = document.querySelector("input[name=text_font_size]");
    var article = document.querySelector("article");
    var term = document.getElementById("term");
    var selectionSpan = null;
    var radios = document.querySelectorAll(".item input");
    var TRANSLATION_NOT_FOUND = "Translation not found 😭";

    handleFontSizeChange(localStorage.getItem("text_font_size") ?? "14");

    function getSelectionString() {
        return document.getSelection().toString().trim();
    }

    async function openPopup(e) {
        if (isInPopup(e))
            return;
        const selection = getSelectionString();
        if (!selection)
            return closePopup();
        const newId = setTimeout(async () => {
            if (popupId == newId && selection) {
                const {x, y} = getSelectionCoords();
                popup.style.left = x + 'px';
                popup.style.top = window.pageYOffset + y + Number.parseInt(article.style.fontSize) + 10 + 'px';
                let translation = e.target.getAttribute("data-translation");
                if (!translation && term.innerText != selection) {
                    // TODO: use lookup URL(s) to find translations
                    translation = await getTranslation(selection);
                }
                translation = translation || TRANSLATION_NOT_FOUND;
                term.innerText = selection;
                document.getElementById("translation").innerHTML = translation;
                console.log(radios, radios[0].checked, radios[0].value, selectionSpan.getAttribute("data-level"))
                radios.forEach(r => r.checked = r.getAttribute("value") == selectionSpan.getAttribute("data-level"));
                popup.style.display = 'block';
            }
            clearTimeout(newId);
        }, 0);
        popupId = newId;
    }

    async function getTranslation(term) {
        // TODO: change to use user-defined URI lookups
        const result = await fetch(`https://translate.googleapis.com/translate_a/single?client=gtx&sl={{ .FromLangID }}&tl={{ .ToLangID }}&dt=t&dt=bd&dj=1&q=${encodeURIComponent(term)}`).then(r => r.json());
        if (!result || !result.dict)
            return null;
        return result.dict.map(x => `<em>${x.pos}</em>: ${x.terms.join(", ")}`).join("<br><br>");
    }

    function closePopup() {
        popup.style.display = 'none';
        popupId = null;
    }

    function handleFontSizeChange(size) {
        article.style.fontSize = size + "px";
        textSizeInput.value = size;
        localStorage.setItem("text_font_size", size);
    }

    function click2selectWord(e) {
        if (getSelectionString() || isInPopup(e)) {
            return;
        }
        const selection = window.getSelection();
        const range = selection.getRangeAt(0);
        selectionSpan = range.commonAncestorContainer.parentElement;
        const node = selection.anchorNode;
        const word_regexp = /^\w*$/; // TODO: use the value from lang_dim table
        // Extend the range backward until it matches word beginning
        while ((range.startOffset > 0) && range.toString().match(word_regexp)) {
            range.setStart(node, (range.startOffset - 1));
        }
        // Restore the valid word match after overshooting
        if (!range.toString().match(word_regexp)) {
            range.setStart(node, range.startOffset + 1);
        }
        // Extend the range forward until it matches word ending
        while ((range.endOffset < node.length) && range.toString().match(word_regexp)) {
            range.setEnd(node, range.endOffset + 1);
        }
        // Restore the valid word match after overshooting
        if (!range.toString().match(word_regexp)) {
            range.setEnd(node, range.endOffset - 1);
        }
        const word = range.toString();
        if (word) {
            openPopup(e);
        }
    }

    function getSelectionCoords() {
        const sel = window.getSelection();
        let range = sel.getRangeAt(0).cloneRange();
        range.collapse(true);
        let rects = range.getClientRects();
        let rect = rects[0];
        return {x: rect.x, y: rect.y};
    }

    function isInPopup(e) {
        return popup.contains(e.target);
    }

    function saveTranslation() {
        if (!selectionSpan) return;
        const translation = document.getElementById('translation').innerHTML;
        selectionSpan.dataset['translation'] = translation == TRANSLATION_NOT_FOUND ? "" : translation;
        fetch(new Request("/term", {method: "POST", body: JSON.stringify({term: term.innerText, level: 0, translation, docID})}))
            .then(r => flashIndicator(r.ok ? "✅" : "❌"))
    }

    function flashIndicator(value) {
        document.getElementById("indicator").innerText = value;
        setTimeout(() => {
            document.getElementById("indicator").innerText = "";
        }, 500);
    }

    document.addEventListener('mouseup', openPopup);
    document.querySelectorAll('input[type="radio"]').forEach(radio => {
        radio.addEventListener('change', (e) => {
            if (!selectionSpan) return;
            const level = Number(e.target.defaultValue);
            selectionSpan.dataset['level'] = level;
            fetch(new Request("/term", {method: "POST", body: JSON.stringify({term: term.innerText, level, translation: "", docID})}))
                .then(r => flashIndicator(r.ok ? "✅" : "❌"))
        });
    });
    document.addEventListener('keydown', e => e.key == "Escape" && closePopup() && document.getSelection().empty());
    document.addEventListener('click', e => !isInPopup(e) && closePopup());
    document.addEventListener('click', click2selectWord)
</script>

{{end}}
