{{define "doc"}}
{{template "page-layout" .}}
{{end}}

{{define "page"}}

<style>
    #popup {
        position: absolute;
        display: none;
        background: var(--bg-color);
        padding: 10px;
        margin: 0;
        box-shadow: 2px 2px var(--txt-color);
        border: 1px solid var(--out-color);
        border-radius: 5px;
        filter: brightness(125%);
        max-width: 400px;
    }

    article {
        max-width: 800px;
        line-height: 2;
        font-size: 1.2rem;
        cursor: default;
    }

    article span[data-level="1"] {
        background-color: pink;
        color: black;
    }

    article span[data-level="2"] {
        background-color: lightblue;
        color: black;
    }

    article span[data-level="3"] {
        background-color: lightseagreen;
        color: black;
    }

    nav {
        display: flex;
        justify-content: end;
    }

    input[type=number] {
        width: 4rem;
    }

    .control {
        border: 1px solid var(--out-color);
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 15px;
    }
</style>

<main>
    <dialog id="popup">
    </dialog>

    <nav>
        <div class="control">
            <label for="text_font_size">Font size:</label>
            <input name="text_font_size"
                   type="number"
                   min="9"
                   max="69"
                   oninput="handleFontSizeChange(this.valueAsNumber)">
        </div>
    </nav>

    <article>
        <center>
            {{ if eq .Author ""}}
            <h1>{{ .Title }}</h1>
            {{ else }}
            <h1>{{ .Author }}: {{ .Title }}</h1>
            {{ end }}
        </center>
        <pre style="white-space: break-spaces;">
             {{- range $_, $chunk := .Chunks -}}
             <span data-level="{{ $chunk.TermLevelID.Int64 }}" data-translation="{{ $chunk.Translation }}">
                {{- $chunk.Value -}}
            </span>
            {{- $chunk.Suffix -}}
            {{- end -}}
        </pre>
    </article>
</main>

<script>
    //     const popupTemplate = `
    // {term}
    // <hr>
    // {translation1}
    // <hr>
    // {translation2}
    // `;
    var popupId = null;
    var popup = document.getElementById("popup");
    var textSizeInput = document.querySelector("input[name=text_font_size]");
    var article = document.querySelector("article");

    handleFontSizeChange(localStorage.getItem("text_font_size") ?? "14");

    function getSelectionString() {
        return document.getSelection().toString().trim();
    }

    async function openPopup(e) {
        if (e.target.id == "popup")
            return;
        const selection = getSelectionString();
        if (!selection)
            return closePopup();
        const newId = setTimeout(async () => {
            if (popupId == newId && selection) {
                const { x, y } = getSelectionCoords();
                popup.style.left = x + 'px';
                popup.style.top = window.pageYOffset + y + Number.parseInt(article.style.fontSize) + 10 + 'px';
                let translation = e.target.getAttribute("data-translation");
                if (!translation) {
                    // TODO: use lookup URL(s) to find translations
                    translation = await getTranslation(selection);
                }
                translation = translation || "Translation not found 😭";
                popup.innerHTML = `<div style='max-width: 400px; whitespace: break-spaces;'>${selection}<hr style='border-top: 1px solid var(--out-color)'>${translation}</div>`;
                popup.style.display = 'block';
            }
            clearTimeout(newId);
        }, 0);
        popupId = newId;
    }

    async function getTranslation(term) {
        // TODO: change to use user-defined URI lookups
        const result = await fetch(`https://translate.googleapis.com/translate_a/single?client=gtx&sl={{ .FromLangID }}&tl={{ .ToLangID }}&dt=t&dt=bd&dj=1&q=${encodeURIComponent(term)}`).then(r => r.json());
        if (!result || !result.dict)
            return null;
        return result.dict.map(x => `<em>${x.pos}</em>: ${x.terms.join(", ")}`).join("<br><br>");
    }

    function closePopup() {
        popup.style.display = 'none';
        popup.innerHTML = '';
        return true;
    }

    function handleFontSizeChange(size) {
        article.style.fontSize = size + "px";
        textSizeInput.value = size;
        localStorage.setItem("text_font_size", size);
    }

    function click2selectWord(e) {
        if (getSelectionString() || e.target.id == "popup") {
            return;
        }
        const selection = window.getSelection();
        const range = selection.getRangeAt(0);
        const node = selection.anchorNode;
        const word_regexp = /^\w*$/; // TODO: use the value from lang_dim table
        // Extend the range backward until it matches word beginning
        while ((range.startOffset > 0) && range.toString().match(word_regexp)) {
            range.setStart(node, (range.startOffset - 1));
        }
        // Restore the valid word match after overshooting
        if (!range.toString().match(word_regexp)) {
            range.setStart(node, range.startOffset + 1);
        }
        // Extend the range forward until it matches word ending
        while ((range.endOffset < node.length) && range.toString().match(word_regexp)) {
            range.setEnd(node, range.endOffset + 1);
        }
        // Restore the valid word match after overshooting
        if (!range.toString().match(word_regexp)) {
            range.setEnd(node, range.endOffset - 1);
        }
        var word = range.toString();
        if (word) {
            openPopup(e);
        }
    }

    function getSelectionCoords() {
        const sel = window.getSelection();
        let range = sel.getRangeAt(0).cloneRange();
        range.collapse(true);
        let rects = range.getClientRects();
        let rect = rects[0];
        return { x: rect.x, y: rect.y };
    }

    document.addEventListener('mouseup', openPopup);
    document.addEventListener('keydown', e => e.key == "Escape" && closePopup() && document.getSelection().empty());
    document.addEventListener('click', e => !popup.contains(e.target) && closePopup());
    document.addEventListener('click', click2selectWord)
</script>

{{end}}
