{{define "index"}}
{{template "page-layout" .}}
{{end}}

{{define "page"}}

<div class="container">
    <section>
        <div class="title">
            <h3>Documents</h3>
            <a href="/add-doc">
                <button class="square-button"
                        title="Add new document">+</button>
            </a>
        </div>
        <ul>
            {{range .Docs}}
            <li><a href="/doc/{{.Id}}"><b>{{.Title}}</b> by <i>{{.Author}}</i></a></li>
            {{end}}
        </ul>
    </section>

    <section>
        <div class="title">
            <h3>Language Pairs</h3>
            <a href="/add-lang">
                <button class="square-button"
                        title="Add new language">+</button>
            </a>
        </div>
        <ul>
            <li>Language 1</li>
            <li>Language 2</li>
        </ul>
    </section>
</div>

{{end}}
