{{define "page-layout"}}

<!DOCTYPE html>
<html>

<head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
      <title>Liberrina - lean a language by reading in it</title>
      <link rel="icon"
            type="image/x-icon"
            href="/www/favicon.ico">
      <script src="/www/htmx.js"></script>
      <link rel="stylesheet"
            href="/www/normalize.css">
      <link rel="stylesheet"
            href="/www/styles.css">
      {{block "in-head" .}}
      {{end}}
</head>

<body hx-boost="true">
      <select id="theme"
              onchange="setTheme(this)">
            <option hidden
                    disabled
                    selected></option>
            <option value="light">🌞</option>
            <option value="dark">🌚</option>
      </select>
      <script>
            function setTheme(el) {
                  const cl = document.querySelector("body").classList;
                  if (el.value === "dark") {
                        cl.remove("light-theme");
                        cl.add("dark-theme");
                  } else {
                        cl.remove("dark-theme");
                        cl.add("light-theme");
                  }
                  document.getElementById("theme").value = el.value;
                  localStorage.setItem("theme", el.value);
            }

            (function init() {
                  let theme = localStorage.getItem("theme");
                  if (theme === undefined && window.matchMedia("(prefers-color-scheme: dark)").matches)
                        theme = "dark";
                  setTheme({ value: theme || "light" });
            })();
      </script>

      {{template "page" .}}
</body>

</html>

{{end}}
