{{define "page"}}

<style>
    form {
        margin: 20px;
    }

    fieldset {
        max-width: 500px;
        padding: 20px;
    }

    legend {
        font-size: large;
        font-weight: bold;
    }

    .field {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
    }

    @media only screen and (max-width: 550px) {
        .field, .field * {
            display: block;
            float: none !important;
            width: 100%;
        }
        .field label {
            margin-bottom: 5px;
        }
    }

    #result+.field {
        margin-top: 0;
    }

    .field input,
    .field select {
        float: right;
    }

    button[type=submit] {
        margin: 10px 0 0 0;
        padding: 10px;
        width: 100%;
    }

    #result.error {
        border: 2px dotted darkred;
        margin: 0 0 15px 0;
        padding: 10px;
        background: pink;
    }
</style>

<form hx-post="/add-lang"
      hx-swap="outerHTML"
      hx-target="#result">
    <fieldset>
        <legend>Add new language</legend>
        <div id="result"></div>
        <div class="field">
            <label for="name">Language name (label): </label>
            <input type="text"
                   name="name"
                   required>
        </div>
        <div class="field">
            <label for="from_id">Study language: </label>
            <select name="from_id"
                    required>
                <option value>Select one...</option>
                {{range .}}
                <option value="{{.Id}}">{{.Name}}</option>
                {{end}}
            </select>
        </div>
        <div class="field">
            <label for="to_id">Your language: </label>
            <select name="to_id"
                    required>
                <option value>Select one...</option>
                {{range .}}
                <option value="{{.Id}}">{{.Name}}</option>
                {{end}}
            </select>
        </div>
        <div class="field">
            <label for="quick_lookup_uri">Quick term lookup URI: </label>
            <input type="text"
                   name="quick_lookup_uri"
                   required>
        </div>
        <div class="field">
            <label for="lookup_uri_1">First dictionary lookup URI: </label>
            <input type="text"
                   name="lookup_uri_1"
                   required>
        </div>
        <div class="field">
            <label for="lookup_uri_2">Second dictionary lookup URI: </label>
            <input type="text"
                   name="lookup_uri_2">
        </div>
        <div class="field">
            <label for="term_sep">Term separator regex: </label>
            <input type="text"
                   name="term_sep">
        </div>
        <div class="field">
            <label for="trim_pattern">Characters regex to trim in terms: </label>
            <input type="text"
                   name="trim_pattern">
        </div>
        <button type="submit">Save</button>
    </fieldset>
</form>

{{end}}
