{{define "base"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Liberrina - Lean a Language by Reading in it</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"
            integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
</head>

<body>
    {{template "page" .}}
</body>

</html>
{{end}}
