{{define "page"}}

<style>
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        padding: 0 20px;
    }

    @media screen and (max-width: 600px) {
        .container {
            grid-template-columns: 1fr;
        }
    }

    .title {
        border-bottom: 2px dotted gray;
        padding: 20px 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title h3 {
        margin: auto;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    section li {
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        color: initial;
    }

    .square-button {
        width: 30px;
        height: 30px;
        border: none;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
</style>

<div class="container">
    <section>
        <div class="title">
            <h3>Documents</h3>
            <a href="/add-doc"><button class="square-button">+</button></a>
        </div>
        <ul>
            {{range .Docs}}
            <li><a href="/doc/{{.Id}}"><b>{{.Title}}</b> by <i>{{.Author}}</i></a></li>
            {{end}}
        </ul>
    </section>

    <section>
        <div class="title">
            <h3>Languages</h3>
            <a href="/add-lang"><button class="square-button">+</button></a>
        </div>
        <ul>
            <li>Language 1</li>
            <li>Language 2</li>
        </ul>
    </section>
</div>

{{end}}
